{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- Start pricing -->
    <div class="container-lg py-5">
        <div class="col-md-12 m-auto text-center py-5">
            <h1 class="pricing-header h2 semi-bold-600">Pricing</h1>
            <p class="pricing-footer">{{ website.descriptionPricing }}</p>
        </div>
        <div class="row px-lg-3">
            {% for price in pricingform %}
                <div class="col-md-4 pt-sm-0 px-xl-3 {% if price.active == True %} pt-3 {% else %} pb-5 mt-5 {% endif %}">
                    <div class="pricing-table card h-100 shadow-sm border-0 py-5 {% if price.active == True %} card-rounded bg-secondary {% endif %}">
                        <div class="pricing-table-body card-body text-center align-self-center p-md-0 {% if price.active == True %} text-white {% else %} rounded-pill {% endif %}">
                            <i class="pricing-table-icon display-3 bx bx-package {% if price.active == True %} text-white py-3 {% else %} text-secondary {% endif %}"></i>
                            <h2 class="pricing-table-heading h5 semi-bold-600">{{ price.name }}</h2>
                            <p>${{ price.price }}{% if price.price != 0 %}/{{ price.period }}{% endif %}</p>
                            <ul class="pricing-table-list text-start text-dark px-4 list-unstyled light-300">
                                {% for advantages in price.advantage.all %}
                                    <li {% if price.active == True %}class="text-white"{% endif %}><i class="bx bxs-circle me-2"></i>{{ advantages.name }}</li>
                                {% endfor %}
                            </ul>
                            <div class="pricing-table-footer {% if price.active == True %} pt-5 pb-2 {% else %} pt-1 {% endif %}">
                                <a href="#" class="btn rounded-pill px-4 {% if price.active == True %} btn-outline-light {% else %} btn-outline-primary {% endif %} light-300">Get Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Content -->

    <!-- Start Pricing Horizontal Section -->
    <section class="bg-light pt-sm-0 py-5">
        <div class="container pt-5">
            <h1 class="h2 semi-bold-600 text-center mt-2">Our Pricing</h1>
            <p class="text-center pb-5 light-300">{{ website.descriptionPricing }}</p>
            {% for price in pricingform %}
            <!-- Start Pricing Horizontal -->
                <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden mb-5 bg-white">
                    <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                        <i class="display-1 bx bx-package pt-4"></i>
                        <h5 class="h5 semi-bold-600 pb-4 light-300">{{ price.name }}</h5>
                    </div>
                    <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                        <ul class="text-left px-4 list-unstyled mb-0 light-300">
                            {% for avantage in price.advantage.all %}
                                <li><i class="bx bxs-circle me-2"></i>{{ avantage.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                        <div class="w-100 light-300">
                            <p>${{ price.price }}{% if price.price != 0 %}/{{ price.period }}{% endif %}</p>
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Get Now</a>
                        </div>
                    </div>
                </div>
                <!-- End Pricing Horizontal -->
            {% endfor %}
        </div>
    </section>
    <!--End Pricing Horizontal Section-->

    <section class="container py-5">
        <h1 class="h2 semi-bold-600 text-center pt-5">Pricing</h1>
        <p class="text-center pb-5 light-300">{{ pricing.description }}</p>
        <div class="row d-flex align-items-center pb-5">
            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2">
                <img class="rounded float-right" src="{{ pricing.picture.url }}">
            </div>
            <div class="col-lg-6">
                {% for price in pricingform %}
                    <!-- Start Pricing List -->
                    <div class="pricing-list shadow-sm {% if forloop.first %}rounded-top rounded-3{% endif %} {% if forloop.last %}rounded-botton rounded-3{% endif %}py-sm-0 py-5">
                        <div class="row p-2">
                            <div class="pricing-list-icon col-3 text-center m-auto text-secondary ml-5 py-2">
                                <i class="display-3 bx bx-package"></i>
                            </div>
                            <div class="pricing-list-body col-md-5 align-items-center pl-3 pt-2">
                                <ul class="list-unstyled text-center light-300">
                                    <li class="h5 semi-bold-600 mb-0 mt-3">{{ price.name }}</li>
                                    <li>{{ price.description }}</li>
                                </ul>
                            </div>
                            <div class="pricing-list-footer col-4 text-center m-auto align-items-center">
                                <a href="#" class="btn rounded-pill px-4 btn-primary light-300">${{ price.price }}{% if price.price != 0 %}/{{ price.period }}{% endif %}</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing List -->
                {% endfor %}
                <!-- End Pricing List -->
                <p class="text-center"><a class="btn px-4 mt-4 mx-auto btn-outline-primary" href="#">Get Now</a></p>
            </div>
        </div>
    </section>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock content %}